@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: black;
}

#canvasID {
    z-index: 0; 
    position: relative; 
}

#eventsID {
    z-index: 1; 
    position: relative; 
}
